@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Oswald');

html, body
	margin:0;
	padding:0;
.main-wrap
	padding: 50px;
	box-sizing: border-box;
	background-color: #ebeef0;
.clearfix:after
	content:'';
	display: block;
	clear: both;
.worker
	padding: 30px;
	background-color: #fff;
	margin-left: 480px
	vertical-align: top
	width: 440px;
	height: 445px
	box-sizing: border-box;
	&__title
		font: 25px 'Oswald', sans-serif;
		color: #39C2D7;
	&-contacts
		padding: 10px;
		margin:0;
		&__item
			list-style-type:none;
			padding: 3px 3px 3px 20px;
			font: 14px 'Source Sans Pro', sans-serif;
			color: #666;
			position: relative;
			&:before
				content: "";
				position: absolute;
				left:0;
				top:5px;
				width: 18px;
				height: 18px;
				background-image: url(../img/sprite.svg);
				background-repeat: no-repeat;
			&.skype:before
				background-position: 0 0;
			&.email:before
				background-position: -19px 2px;
			&.phone:before
				background-position: -36px -1px
.room-space
	width: 380px
	height: 380px
.vector-wrap
	float: left;
	padding: 30px;
	background-color: #fff;